src/main/java/com/solvd/internetshop/util/xml/xsd/user.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="user">
        <xs:complexType>
            <xs:sequence>
                <xs:choice maxOccurs="unbounded">
                    <xs:element name="id" type="xs:unsignedByte" />
                    <xs:element name="name" type="xs:string" />
                    <xs:element name="lastName" type="xs:string" />
                    <xs:element name="phone" type="xs:long" />
                    <xs:element name="password" type="xs:string" />
                    <xs:element name="email" type="xs:string" />
                    <xs:element name="age" type="xs:unsignedByte" />
                    <xs:element name="address">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="city" type="xs:string" />
                                <xs:element name="country" type="xs:string" />
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:choice>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>

